/*
  Colors
*/
$lighter-gray: #f1f1f1;
$light-gray: #DADADA;
$gray: #9B9B9B;
$grey89: #898989;
$pink: #DE0067;
$cyan: #1DA5A7;
$white: #FFFFFF;
$greenlight: #488E7A;
$greenbold: #2B594C;






/* ------------------------------------ */


$body-background: #EEEEEE;
$grey: #9B9B9B;
$greylight: #DADADA;
$blacklight: #4A4A4A;
$bluelighter: #1C94EE;
$green: #00C26B;
$alto: #DCDCDC;
$concrete: #F3F3F3;
$red: #FE2851;

$card-background: #fff;
$menu-footer-background: #ffffff;
/*
My Interviews
*/
$link-color: $bluelighter;
$main-text-color: $blacklight;
$minor-text-color: $grey;
$border-color: $greylight;
$button-green-color: $green;
$start-rate: #FFC700;
$start-un-rate: $grey;
/*
Interview detail
*/
$line: $greylight;
$skill-hover: #BADEF9;
$checkbox-label: $grey;
$tick-done: $green;
$shadow-footer: $grey;
/*
Interview Payoff
*/
$success-hired: $green;
/*
Main-menu
*/
$main-menu-background: #02594C;
$main-menu-item-active: #ffffff;
$main-menu-item-inactive: #cccccc;
$main-menu-item-border: #00C468;
$main-menu-item-hover-background: #058E7A;

$mobile-header-color: #474156;
/*
Empty view
*/
$empty-text: $grey;
/*
Job Description popup
*/
$job-description-content-bg: $concrete;
$job-description-content-border: $alto;
/*
Candidates
*/
$candidate-hover: #BADEF9;
