@import "./color";
@import './mixin';
@import './utils';
@import './variables';

html,
body {
  background-color: $body-background !important;
  color: $main-text-color;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
}
